* {
	padding: 0px;
	margin: 0px;
}

html,
body {
	height: 100%;

}
.wrapper {
	width: 50%;
	height: 100%;
	margin: 0 auto;
}
.content {
	box-sizing: border-box;
	min-height: 100%;
	padding-bottom: 90px;
	background: #F5F7FA;
	padding: 10px;
}

h1 {
	padding: 40px 20px 30px;
	text-align: center;
}

h2 {
padding: 10px;
}

p {
	padding: 10px 20px;
	line-height: 1.5;
}

.navigate {
	padding: 10px;
}

footer {
	text-align: center;
	height: 45px;
	margin-top: -45px;
	background: #39b54a;
}